/* -----BODY DEFAULTS----- */

html {
  height: 100%;
}

body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 2;
  color: black;
  background-image:url("../images/");
  background-repeat:repeat;
  min-height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-left: -10px;
  background-color: #ffffee;
}

/* -----ELEMENT CSS----- */

h1 {
  font-size: 2em;
  text-align: center;
  align-self: center;
}

header {
  padding: 0 0 10px 0;
  margin: 0 0 10px 0;
  width: 100%;
  height: 60px;
  background-color: black;
  color: white;
  font-family: 'Cinzel', serif;

}

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

aside h3 {
  color: black;
  font-weight: 600;
  font-family: 'Exo', sans-serif;

}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* -----BASIC FRAMEWORK CSS----- */

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.row-vert {
  flex-direction: column;
  top: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
}

.freeze {
  position: fixed;
  width: inherit;
  z-index: 3;
  height: 25vh;
}

.col-vert {
  flex-direction: column;
  position: absolute;
  top: 0;
  height: 100%;
  width: inherit;
}


.right-align {
  justify-content: flex-end;
}

.left-align {
  justify-content: flex-start;
}

.split {
  justify-content: space-between;
}

.col-6 {
  width: 100%;
  height: inherit;
}

.col-5 {
  width: 83.3333%;
}

.col-4 {
  width: 66.6666%;
}

.col-3 {
  width: 50%;
}

.col-2 {
  width: 33.3333%;
}

.col-1 {
  width: 16.6666%;
  justify-content: inherit;

}

.player-box {
  display: block;
  height: 150px;
  width: 150px;
  position: relative;
  z-index: 1;
  background-color: #acc5c3;
  box-shadow: -1px 2px 8px #303300;
  font-family: 'Quattrocento', serif;
}

.player-box h4 {
  align-self: center;
  position: absolute;
  z-index: 2;
  top: 20%;
  left: 10%;
  font-size: 2em;
}

.instruct {
  align-self: flex-start;
  position: absolute;
  z-index: 2;
  top: 1px;
  left: 2px;
}

.score {
  align-self: flex-end;
  position: absolute;
  z-index: 2;
  left: 2px;
  bottom: 1px;
}

.score p {
  display: inline;
}

.container-center{
  margin: 5px auto 5px auto;
  align-items: center;
  align-self: center;
  justify-content: center;
}

.rps-button {
  height: 50px;
  width: 150px;
  background-color: #844c2a;
  border: solid 1px #521f00;
  text-align: center;
  z-index: 8;
  position: relative;
  float: left;
  color: white;
  font-size: 1em;
  font-weight: 600;
  font-family: 'Cinzel';
}

.rps-button:hover {
  border: solid 3px rgba(35, 35, 35, 0.48);
}

.yellow-border {
  background-color: rgba(0,0,0,0);
  box-shadow: 0 0 15px 7px #2b2b29;
}

.under-box {
  display: block;
  height: 150px;
  width: 150px;
  border: solid 1px black;
  position: absolute;
  z-index: -2;
}

/* -----FIXED COMPONENTS----- */

#chat-frame {
    background-color: #d4cebe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0 30px 0;
    border-radius: 15px;
    box-shadow: -1px 2px 5px #37342D;
}

#app-board {
  height: 100%;
  padding: 0 10px 0 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#login-box {
  height: 30px;
  background-color: white;
  border: solid 1px black;
  font-size: 1em;
  width: 75%;
  align-self: center;
  font-family: 'Quattrocento', serif;
}

#start-button {
  height: 33px;
  width: 20%;
  background-color: white;
  border: solid 1px white;
  font-size: .8em;
  align-self: center;
  border-radius: 5px;
  box-shadow: -1px 0.5px 3px #2e3100;
}

#game-feed {
  justify-content: center;
  align-self: center;
  align-items: center;
  text-align: center;
  height: 70px;
  font-weight: 600;
  color: black;
  font-family: 'Quattrocento', serif;

}

#results {
  box-shadow: inset 0 0 16px #373737;
  background-color: white;
  border: solid 4px #6b350d;
  border-radius: 3px;
  width: 200px;
}

#rps-action {
  justify-content: space-around;
  margin-bottom: 100px;
}

#chat-window {
    height: 150px;
    overflow-y: scroll;
    position: relative;
    background-color: black;
    padding-left: 10px;
    border: none;
    font-size: .8em;
    display: block;
    color: #32ff3b;
    box-shadow: inset 0 0 20px #929292;
    border-radius: 5px;
    font-family: 'Orbitron';

}

#chat-form {
  height: 30px;
  background-color: white;
  border: solid 1px black;
  width: 75%;
  font-family: 'Orbitron';
}

#send-button {
  height: 35px;
  width: 20%;
  color: black;
  font-size: .8em;
  border: solid 0px #2e3100;
  background-color: #d4cebe;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 5px;
  box-shadow: -1px 0.5px 3px #2e3100;
}

#player1-pick,
#player2-pick {
  font-size: 2em;
  color: black;
  text-align: center;
  align-self: center;
}




#sticky-footer {
  color: white;
  background-color: black;
  background-size: cover;
  border-top: 6px solid #4A2A09;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  text-align: center;
  font-family: 'Quattrocento', serif;
}

#sticky-footer p {
  text-align: center;
  align-self: center;
}
/* --- dynamic content --- */



